<% include partials/header %>

<h1>This is the home page!</h1>

<img src="https://images.pexels.com/photos/733416/pexels-photo-733416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

<% include partials/footer %>